* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card {
    width: 320px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    color: white;
}

.avatar {
    width: 90px;
    margin-bottom: 15px;
}

.login-card h2 {
    margin-bottom: 20px;
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

.login-card button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #4e54c8;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-card button:hover {
    background: #e0e0ff;
}

/* ALERT */
.alert-error {
    background: white;
    color: red;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.alert-success {
    background: white;
    color: green;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 10px;
}

